<div class="container-fluid pt-5 pb-5">
    <h1 class="text-white text-center">BEST SMARTPHONE</h1>
    <div class="row">
        <app-phone class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-lg-3"></app-phone>
        <app-phone class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-lg-3"></app-phone>
        <app-phone class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-lg-3"></app-phone>
        <app-phone class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-lg-3"></app-phone>
    </div>
</div>
<section id="laptop" class="container-fluid pt-5 pb-5 bg-light text-dark">
    <h1 class="text-center">BEST LAPTOP</h1>
    <div class="row">
        <app-laptop class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-lg-3"></app-laptop>
        <app-laptop class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-lg-3"></app-laptop>
        <app-laptop class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-lg-3"></app-laptop>
        <app-laptop class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-lg-3"></app-laptop>
    </div>
</section>